.formulary{
  width: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;

  padding: 15px;
  border-radius: 15px;
  border: 1px solid #0288D1;



  .title{
    font-size: 2.5rem;
    text-transform: uppercase;
    color: #0288D1;
    margin: 0;
  }
}
